@import com.example.Vehicle
@(vehicles: Seq[Vehicle])
<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            td {
                padding: 10px;
            }

            table {
                border: 1px solid black;
            }
        </style>
        <link rel="stylesheet" href="/css/tooltip.css">
        <title>Honda Finder</title>
    </head>

    <body>
        <h1>Vehicles</h1>

        <table>
            <tr>
                <th>id</th>
                <th><!-- interested --></th>
                <th>dealer</th>
                <th>year</th>
                <th>make</th>
                <th>model</th>
                <th>trim</th>
                <th><!-- exterior color --></th>
                <th>miles</th>
                <th>price</th>
                <th>vin</th>
                <th>url</th>
                <th>action</th>
            </tr>
            @for(vehicle <- vehicles) {
              <tr>
                  <td><a href="/vehicle/@vehicle.id">@vehicle.id</a></td>
                  <td>
                  @if(vehicle.interested) {
                      <a href="/mark_not_interested/@vehicle.id">⭐</a>
                  } else {
                      <a href="/mark_interested/@vehicle.id">➕</a>
                  }
                  </td>
                  <td>@vehicle.dealer</td>
                  <td>@vehicle.year</td>
                  <td>@vehicle.make</td>
                  <td>@vehicle.model</td>
                  <td>@vehicle.trim</td>
                  <td>
                    <div class="tooltip"
                        @Html(
                          vehicle.exterior.htmlColor match {
                              case Some(colorCode) =>
                                  s"""style="width: 29px; height: 29px; border: 1px solid black; background-color: $colorCode;""""
                              case None =>
                                  s"""style="width: 29px; height: 29px; border: 1px dashed black;""""
                          }
                        )
                    ><span class="tooltiptext" style="margin-left: 40px; margin-top: -10px;">@vehicle.exterior.name</span></div>
                  </td>
                  <td>@{"%,d".format(vehicle.miles)}</td>
                  <td>$ @{"%,d".format(vehicle.price)}</td>
                  <td>@vehicle.vin</td>
                  <td><a href="@vehicle.url" target="_blank">LINK</a></td>
                  <td><a href="/set_as_unavailable/@vehicle.id">SET UNAVAILABLE</a></td>
              </tr>
            }
        </table>
    </body>
</html>
